@import "main";

header{
  font-size: 74px;
}

div.carousel{
  margin-top: 5rem;
  height: 640px;
}

// Text Sections

div.text-container{
  margin: 4rem auto 4rem;
  p{
    font-size: 2.5rem;
  }
}

// Intro Video

div.video-block{
  iframe{
    display: block;
    margin: auto;
  }
}

// Video Grid

div.video-grid-container{
  margin: 10rem auto 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

// Logo

div.logo-container{
  img{
    display: block;
    margin: auto;
  }
}

// Image row

div.image-row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
}


// Contact

div.contact-container{
  margin: auto;
  p{
    font-size: 2rem;
  }
}

// Directions

div.directions-container{
  div.directions-video{
    margin: 2rem auto 2rem;
  }
}


// Bio

div.bio-container{
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  div.bio-detail{
    padding: 1rem;
    width: 50%;
    font-size: 2rem;
  }

}

